.page-rank {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rank-bar {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: #D63838;
    height: 120px;
}

.return-btn {
    width: 45px;
    height: 45px;
    margin-left: 30px;
}

.rank-bar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(#FFB800, #D63838);
    border-radius: 500px;
    padding: 15px 50px;
}

.rank-view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(white, #FFD29C);
}